/* Centrar el contenido en la pantalla */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Tomar toda la altura de la ventana */
  margin: 0;
  background-color: #f0f0f0;
}

/* Contenedor principal */
.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px; /* Máximo ancho de 800px */
}

/* Título centrado */
h1 {
  text-align: center;
  color: #333;
}

/* Estilo de las tarjetas de contacto */
.contact-card {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




/* Enlace centrado */
a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #007bff;
}
